<!DOCTYPE html> 
<html[% IF lang %] lang="[% lang %]"[% END %]>

<head>
	<title>Ernstchan[% IF template.title %] &raquo; [% template.title %][% END %]</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/phutaba.css" />
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="/img/favicon-152.png" />
	<meta name="msapplication-TileImage" content="/img/favicon-144.png" />
	<meta name="msapplication-TileColor" content="#ECE9E2" />
	<meta name="msapplication-navbutton-color" content="#BFB5A1" />
	<meta name="msapplication-config" content="none" />
</head>

<body>
<div class="content">

<nav>
	<ul class="menu">
[% INSERT nav_boards.html %]
	</ul>

	<ul class="menu right">
[% INSERT "nav_pages.${lang}.html" %]
	</ul>
</nav>

<header>
	<div class="header">
		<div class="selector">
		<select onchange="setActiveStyleSheet(this.value);">
			<option value="phutaba">Phutaba</option>
			<option value="leet">Leet</option>
		</select>
		</div>
		<div class="banner"><a href="/"><img src="/banner.pl" alt="Ernstchan" /></a></div>
		<div class="boardname">[% template.title %]</div>
	</div>
</header>

<hr />
